.image {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  border: solid 10px black;
}

.text {
  font-size: 120px;
  position: absolute;
  top: 50%; left: 50%; transform: translate(-50%, -50%);
  display: none;
}

.layover {
  background-color: rgba(245,245,220,0.4);
  width: 100%; height: 100%;
  display: none;
}

.image:hover .text, .image:hover .layover {
  display: block;
}

#taranto {
  background-image: url('../img/taranto.jpg');
}

#como {
  background-image: url('../img/como.jpg');
}

#milano {
  background-image: url('../img/milano.jpg');
}

#pordenone {
  background-image: url('../img/pordenone.jpg');
}

#firenze {
  background-image: url('../img/firenze.jpg');
}

#pesaro {
  background-image: url('../img/pesaro.jpg');
}

#honolulu {background-image: url('../img/honolulu.jpg');}
