/*  REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: black;
}

/* REGOLE HEADER (LOGO + TITOLO + BUTTON E RELATIVI STATI :HOVER) */
header {
  position: fixed;
  width: 100vw;
  min-width: 350px;
  height: 60px;
  background-color: black;
  border-bottom: solid 3px grey;
  text-align: center;
  display: inline-block;
  z-index: 999;
}

header img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 5px;
}

header img:hover {
  width: 55px;
  height: 55px;
  top: 2.5px;
  left: 2.5px;
}

h1 {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black, 0px -2px 0 black, 3px 3px 3px #8B8B8B;
}

h1:hover {
  font-size: 35px;
}

/* REGOLE DIV BUTTON */
header > div {
  height: auto;
  width: auto;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

button {
  font-size: 9px;
  color: white;
  background-color: black;
  padding: 3px;
  border: solid 2px white;
  border-radius: 5px 10px 10px 10px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}

/* REGOLE MAIN (BLOCCHI CITTA') */
main {
  position: relative;
  color: white;
  padding-top: 55px;
}

main > div {
  position: relative;
}

div > img {
  width: 100vw;
  min-width: 350px;
  border: solid white 3px;
  border-radius: 75px;
  display: block;
  margin: 40px auto;
  opacity: 0.3;
  }


div > div:first-of-type {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15vw;
  text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black, 0px -2px 0 black, 3px 3px 3px #8B8B8B;
  display: none;
}

/* REGOLE FORM */
div > div:last-of-type {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100px;
  max-width: 780px;
  min-width: 305px;
  border: 2px solid grey;
  border-radius: 50px;
  background-color: black;
  opacity: 0.7;
  padding-top: 15px;
  text-align: center;
  display: none;
}

main li {
  list-style-type: none;
  display: inline-block;
  line-height: 100%;
  vertical-align: middle;
}

main button {
  display: block;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

div > div:last-of-type, main button, select > option {
  font-size: min(max(8px, 1.7vw), 20px);
}


/* REGOLE BLOCCO :hover */
div:hover > div, div:hover > div:first-of-type {
  display: block;
}

div:hover > img {
  opacity: 1;
}




/* REGOLE FOOTER */
footer {
  width: 100vw;
  height: 60px;
  min-width: 350px;
  background-color: black;
  border-top: solid 3px grey;
  color: white;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  position: relative;
}

footer > div, footer > nav {
  position: absolute;
}

footer > nav {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

nav li {
  list-style-type: none;
  display: inline-block;
  line-height: 100%;
  vertical-align: bottom;
}

nav li:first-of-type {
  margin-right: 20px;
}

/* LINK INTERNO */
nav a:first-of-type {
  font-size: 50px;
  font-style: normal;
  text-decoration: none;
  color: white;
}

/* LINK ESTERNI */
footer img {
  width: 40px;
  height: 40px;
}

/* PAGINA DI */
footer > div {
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
